apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
      - name: go-app-pod
        image: docker.io/haechanlovelove/go-app:1.3
        ports:
        - containerPort: 8686
