apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: go-app
  name: go-app-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - image: docker.io/haechanlovelove/go-app:1.3
        name: go-app-pod
        ports:
        - containerPort: 8686
