apiVersion: v1
kind: Service
metadata:
  labels:
    app: go-app
  name: go-app-service
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8686
    protocol: TCP
    targetPort: 8686
  selector:
    app: go-app
